.product-wraper {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.5rem;
  align-items: center;
  background-color: #fff;
  padding: 2em 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  // height: 900px;

  div.left-side {
    margin: 0 auto;
    padding: 0 2em;
    border-radius: 10px;
    height: 300px;
    margin-bottom: auto;
    max-width: 390px;
    .carousel-root {
      height: 100%;
      .carousel.carousel-slider {
        height: 100%;
        .slider-wrapper.axis-horizontal {
          height: 100%;
          * {
            height: 100%;
          }
        }
      }
    }
  }

  .right-side {
    display: flex;
    width: 55%;
    // height: 600px;
    padding: 0 2em 2em 2em;
    // height: 90vh;
    // border-left: 1px solid rgba(134, 134, 134, 0.1);

    .right-side-inner {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #fff;
      padding: 2em;
      border-radius: 10px;
      text-align: center;
      // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
      // height: 90vh;

      h2 {
        font-size: 1rem;
        padding-bottom: 1em;
        text-align: center;
      }

      .product-detail-list {
        width: 100%;
        border-top: 1px solid #e7e7e7;
        line-height: 1.2rem;
        margin-bottom: 0;
        padding: 0.1em 0;
        font-size: 0.8rem;

        .rating-wrapper {
          display: flex;
          // justify-content: center;
          // align-items: center;
          margin-right: auto;
          span {
            width: 1rem;
            height: 1rem;
            margin: 0;
            i.fa-star {
              font-size: 0.7rem;
              color: gold;
              margin: 0;
              padding: 0;
            }
            i.off {
              color: gray;
            }
          }
        }

        .rating-li {
          display: flex;
          align-items: center;
        }

        li {
          line-height: 1.2rem;
          padding: 1rem 0.8em;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #e7e7e7;
          &:last-child {
            border-bottom: none;
          }

          > span {
            padding-left: 1rem;
            font-size: 0.8rem;
          }
          > strong {
            font-size: 0.8rem;
            color: #827f7f;
          }
        }
      }

      .product-price {
        width: 100%;
        border-bottom: 1px solid #e7e7e7;
        padding: 0.1em 0;
        margin-bottom: 1em;
        display: flex;
        justify-content: center;

        li {
          display: inline-block;
          padding: 1em;

          .line-through {
            text-decoration: line-through;
          }
        }
      }

      .add-wraper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        label {
          font-size: 0.8rem;
          order: 1;
        }
        input {
          width: 2.5em;
          margin: 0 1em;
          padding: 4px;
          text-align: center;
          &::placeholder {
            padding: 5px;
          }
        }
      }
    }
  }
  .carousel .thumb.selected,
  .carousel .thumb:hover {
    border: 3px solid #333;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 850px) {
  .product-wraper {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2.5rem;
    align-items: center;
    flex-direction: column;
    padding: unset;

    div.left-side {
      width: 100%;
      // background-color: #f6f6f6;
      // padding: 2em;
      border-radius: 10px;
      // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
      order: -1;
    }

    .right-side {
      width: 100%;
      margin-top: 120px;
      .right-side-inner {
        padding: unset;
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .product-wraper {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2.5rem;
    align-items: center;
    flex-direction: column;
    padding: unset;

    div.left-side {
      width: 100%;
      // background-color: #f6f6f6;
      // padding: 2em;
      border-radius: 10px;
      // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
      order: -1;
      height: 220px;
    }
  }
}
.carousel .control-dots {
  direction: ltr;
}
