.btn-shopping {
  border: none;
  background: none;
  color: #001df5;
  padding: 0.3rem 1.3rem;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  order: -1;
  border: 1px solid;

  &:hover {
    background-color: #001df5;
    color: white;
  }
  &.orange {
    color: var(--orange);
    &:hover {
      background-color: var(--orange);
      color: white;
    }
  }
  &.blue {
    color: var(--blue);
    &:hover {
      background-color: var(--blue);
      color: white;
    }
  }
  &.gray {
    color: var(--gray);
    &:hover {
      background-color: var(--gray);
      color: white;
    }
  }
  &.small {
    padding: 0.2rem 0.8rem;
  }
}
