.articles-main-area {
  width: 50%;
  margin: 1rem auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  ul {
    li {
      a {
      }
    }
  }
  .article-area {
    .article-top-section {
      h1 {
      }
      .time-date {
        span {
          i {
          }
        }
        .date {
          i {
          }
        }
        .time {
        }
      }
      .time-for-reading {
        span {
          i {
          }
        }
      }
    }
    .article-main-content {
      img {
      }
      p {
      }
    }
    .article-footer-section {
      .rating {
        span {
          i {
          }
        }
        .rate {
          span {
          }
          p {
            span {
            }
          }
        }
      }
      .share {
        .comments {
          i {
          }
          span {
          }
        }
        .socials {
          i {
          }
        }
      }
    }
    .article-category {
      p {
      }
      span {
      }
    }
  }
  .comments-area {
    .add-comment-area {
      h2 {
      }
    }
    .proved-comments {
      h4 {
        span {
        }
      }
    }
  }
}
