.shopping-cart {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;

  .right-side-item-list {
    width: 29%;
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    height: fit-content;
    position: sticky;
    top: 10px;
    ul {
      li {
        border-bottom: 1px solid rgba(#aaa, 0.6);
        padding: 0.5rem 0;
        &:last-child {
          // border-top: 1px solid rgba(#333, 0.7);
          border-bottom: none;
          figcaption {
          }
        }
        figure {
          figcaption {
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            > p {
              font-size: 0.8rem;
            }
            > div {
              span {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
  .left-side-item-pictures {
    width: 70%;
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    .items {
      // border-bottom: 1px solid rgba(#aaa, 0.7);
      // margin-bottom: 1rem;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        li {
          width: 49%;
          border: 1px solid rgba(#aaa, 0.4);
          border-radius: 7px;
          padding: 1rem;
          margin: 1rem 0;

          figure {
            display: flex;
            width: 100%;
            height: 100%;
            img {
              width: 80px;
              margin-left: 1rem;
              height: 80px;
            }

            figcaption {
              // width: 85%;
              flex: 1;
              display: flex;
              // flex-direction: column;
              > .show-cart-product-details {
                flex: 1 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .show-cart-product-information {
                  display: flex;
                  > div {
                    &:last-child {
                      flex: 1;
                    }
                  }
                }
              }
              p {
                font-size: 1rem;
              }
              .product-prices {
                display: flex;
                justify-content: space-between;
                padding: 1.5rem 0;
                > span {
                  font-size: 0.85rem;
                  color: #616161;
                  display: flex;
                  align-items: center;
                }
                .price {
                  > span {
                    font-size: 1rem;
                    &.unit-price {
                      font-size: 0.7rem;
                      color: #616161;
                    }
                  }
                }
              }
              .Settings {
                display: flex;
                justify-content: center;
                padding: 1rem 1rem 0 1rem;
                span {
                  user-select: none;
                  font-size: 0.7rem;
                  margin: 0 0.5rem;
                  display: flex;
                  justify-content: center;
                  &.order-number {
                    min-width: 30px;
                    font-size: 1rem;
                  }
                  &.window-minimize {
                    margin-bottom: 10px;
                  }
                  i {
                    font-size: 0.7rem;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                }
                .remove-icon {
                  margin-inline-start: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}
.accepted-order-in-show-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
@media only screen and (max-width: 700px) {
  .shopping-cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;

    .right-side-item-list {
      width: 100%;
    }
    .left-side-item-pictures {
      width: 100%;

      flex-direction: column;

      .items {
        ul {
          width: 100%;
          li {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .shopping-cart {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .left-side-item-pictures {
      flex-direction: column;

      .items {
        ul {
          width: 100%;
          li {
            width: 100%;
          }
        }
      }
      // button {
      //   width: 70%;
      //   text-align: center;
      //   padding: 0.7rem 1rem;
      // }
    }
  }
}
