.slider-container {
  width: 100%;
  display: flex;
  margin: auto;
  overflow: hidden;
  direction: ltr;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 450px;
  box-shadow: 0 2px -1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.2s linear;
  cursor: pointer;
  ul {
    height: 100% !important;
    li {
      height: 100%;
    }
  }
  // .slider-container .slider {
  //   height: 100% !important;
  // }
  .carousel .control-dots {
    height: unset !important;
  }
  div {
    height: 100%;
    width: 100%;
  }
  .slider-card-wrapper {
    height: 100%;
    img {
      height: 100%;
    }
  }
  .slider {
    height: 450px;
  }

  i {
    text-align: center;
  }
}
.left-arrow {
  display: none !important;
}

.right-arrow {
  display: none !important;
}
@media only screen and (max-width: 1024px) {
  .slider-container {
    height: 300px;
  }
}
@media only screen and (max-width: 780px) {
  .slider-container {
    height: 250px;
  }
}
@media only screen and (max-width: 40em) {
  .slider-container {
    height: 25vh;
    .slider-card-wrapper {
      height: 100%;
      img {
        height: 100%;
      }
    }
    .slider {
      height: 25vh !important;
    }
  }
}
