.table-container {
  color: white;
  display: flex;
  justify-content: center;
}

.table-content {
  text-align: center;
  background-color: #172b4d;
  border-radius: calc(0.375rem - 1px) calc(0.375rem - 1px) 0 0;
  overflow: hidden;
  > thead {
    background-color: #1c345d;
    th {
      padding: 1rem 1.5rem;
      color: #4d7bca;
      font-size: 20px;
    }
  }
  > tbody {
    tr {
      border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    }
    td {
      > img {
        width: 100px;
        height: 60px;
        border-radius: 16px;
      }
      padding: 1rem 1.5rem;
      color: #f8f9fe;
      font-size: 18px;
    }
  }
}

.table-paginate {
  color: #525f7f;
  justify-content: center;
  padding: 0.5rem 0;
  background-color: #172b4d;
  display: flex;
  > span,
  i {
    cursor: pointer;
    margin: 0 4px;
    display: flex;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: white;
    font-size: 20px;
    text-align: center;
  }
}
