.product-categories {
  display: flex;
  ul {
    display: flex;
    // justify-content: space-between;
    width: 100%;
    list-style: none;
    // & li:last-child {
    //   padding-inline-end: 0;
    // }
    li {
      position: relative;
      flex: 1 1 20%;
      min-width: 20%;
      max-width: 20%;
      padding: 7px;
      // overflow: hidden;
      // &:nth-child(1) figure::before {
      //   content: "";
      //   width: 100%;
      //   height: 15px;
      //   background-color: var(--dark-green);
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      // }
      // &:nth-child(2) figure::before {
      //   content: "";
      //   width: 100%;
      //   height: 15px;
      //   background-color: var(--light-green);
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      // }
      // &:nth-child(3) figure::before {
      //   content: "";
      //   width: 100%;
      //   height: 15px;
      //   background-color: var(--yellow);
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      // }
      // &:nth-child(4) figure::before {
      //   content: "";
      //   width: 100%;
      //   height: 15px;
      //   background-color: var(--orange);
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      // }
      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        position: relative;
        height: 100%;

        figcaption {
          height: 100%;
          > div {
            &:first-child {
              height: 66%;
              img {
                width: 100%;
                // height: 70% !important;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
                border-radius: 5px 5px 0 0;
                height: 100%;
              }
            }
            &:last-child {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;
              background-color: #fff;
              width: 100%;
              // height: 30%;
              height: 120px;
              border-radius: 0 0 150px 150px;
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
              // a is styled in cssController.scss
              // as a.detail-btn
              > h2 {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 520px) and (min-width: 450px) {
  .product-categories {
    ul {
      li {
        width: 48%;
        position: relative;

        figure {
          margin-bottom: 2rem;

          figcaption {
            h2 {
              font-size: 1rem;
            }

            // a is styled in cssController.scss
            // as a.detail-btn
          }
        }
      }
    }
  }
}
// @media only screen and (max-width: 1150px) and (min-width: 800px) {
//   .product-categories {
//     ul {
//       li {
//         width: 24%;
//         position: relative;

//         figure {
//           height: 300px;
//           margin-bottom: 2rem;

//           figcaption {
//             h2 {
//               font-size: 1rem;
//             }

//             // a is styled in cssController.scss
//             // as a.detail-btn
//           }
//         }
//       }
//     }
//   }
// }
@media only screen and (max-width: 1124px) {
  .product-categories {
    ul {
      li {
        figure {
          figcaption {
            // height: 90px;
            div {
              &:last-child {
                height: 88px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .product-categories {
    ul {
      li {
        figure {
          figcaption {
            // height: 90px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) and (min-width: 520px) {
  .product-categories {
    ul {
      li {
        width: 24%;
        position: relative;

        figure {
          // height: 240px;
          margin-bottom: 2rem;

          figcaption {
            h2 {
              font-size: 1rem;
            }

            // a is styled in cssController.scss
            // as a.detail-btn
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .product-categories {
    display: flex;
    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      list-style: none;
      // flex-wrap: wrap;
      li {
        flex: 1 1 25%;
        min-width: 25%;
        max-width: 25%;
      }
    }
  }
}
@media only screen and (max-width: 720px) {
  .product-categories {
    display: flex;
    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      list-style: none;
      // flex-wrap: wrap;
      li {
        flex: 1 1 33.2%;
        min-width: 33.2%;
        max-width: 33.2%;

        figure {
          figcaption {
            h2 {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 550px) {
    .product-categories {
      display: flex;
      ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style: none;
        // flex-wrap: wrap;
        li {
          flex: 1 1 33.2%;
          min-width: 33.2%;
          max-width: 33.2%;

          figure {
            margin-bottom: 2rem;

            // a is styled in cssController.scss
            // as a.detail-btn
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .product-categories {
    display: flex;
    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      list-style: none;
      // flex-wrap: wrap;
      li {
        flex: 1 1 49.5%;
        min-width: 49.5%;
        max-width: 49.5%;

        figure {
          margin-bottom: 2rem;

          figcaption {
            img {
              width: 100%;
              // height: 230px;
            }
            h2 {
              font-size: 0.7rem;
            }

            // a is styled in cssController.scss
            // as a.detail-btn
          }
        }
      }
    }
  }
}
