.greeting {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--cream);
  color: var(--orange);
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  position: relative;
  justify-content: space-around;
  &:hover {
    box-shadow: 0 0 7px 3px rgba(#333, 0.2);
  }
  > div {
    padding: 0.3rem;
    &:hover {
      background: rgba(239, 57, 78, 0.05);
    }
    > i {
    }
  }
  .user-icon-angel {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    position: relative;
    // &:hover {
    //   color: black;
    // }
    > i {
    }
    .fa-user {
      font-size: 1.5rem;
      margin-left: 5px;
    }
    .fa-angle-down {
      font-size: 1rem;
    }
  }
  .user-shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    // cursor: pointer;
    &:hover {
      &:not(.disable) {
        .modal-for-basket {
          display: inline-block;
        }
      }
    }
    i.fa-shopping-cart {
      font-size: 1.2rem;
    }
    .show-shopping-cart-length {
      font-size: 10px;
      font-size: 0.714rem;
      line-height: 16px;
      color: #fff;
      min-width: 20px;
      min-height: 18px;
      background: #ef394e;
      text-align: center;
      vertical-align: middle;
      border-radius: 5px;
      font-weight: 900;
      border: 2px solid #fff;
      position: absolute;
      bottom: -6px;
      right: -12px;
      display: inline-block;
    }
    .modal-for-basket {
      display: none;
      position: absolute;
      //   height: 200px;
      top: 33px;
      background-color: white;
      padding: 0.3rem 0.5rem;
      // min-width: 100px;
      left: 0;
      z-index: 50;
      color: #424750;
      -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      width: 285px;
      .modal-shopping-cat-length {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
        list-style: none;
        position: relative;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        width: 100%;
        background-color: #fff;
        color: #616161;
        font-size: 0.7rem;
      }
      .modal-basket-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        cursor: auto;
        padding: 0.4rem;
        &.pointer {
          cursor: pointer;
        }
        &.hoverBg {
          &:hover {
            background: rgba(151, 151, 151, 0.05);
          }
        }

        > * {
          background-color: transparent;
        }
        > a {
          font-size: 0.8rem;
          white-space: nowrap;
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
          > div {
            > img {
              width: 60px;
              height: 60px;
              border-radius: 5px;
            }
            &.modal-product-name {
              flex: 1;
              padding: 0 0.5rem 0 0;
              p {
                font-size: 0.7rem;
                line-height: normal;
                font-weight: 700;
                margin-bottom: 8px;
                color: #424750;
              }
            }
            .product-length-and-remove {
              display: flex;
              justify-content: space-between;
              .product-order-number {
                font-size: 0.7rem;
                color: #616161;
              }
              i {
                color: var(--gray);
              }
            }
          }
        }
      }
      .show-total-price-and-seller {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .total-price-title {
          font-size: 0.7rem;
          color: #616161;
          display: flex;
        }
        .the-unit-title {
          font-size: 0.7rem;
          color: #616161;
          margin-right: 5px;
        }
      }
    }
  }
  > span {
    font-size: 18px;
    padding-right: 5px;
    font-weight: light;
    text-align: center;
  }
  .exit {
    background: #fff;
    position: absolute;
    padding: 0.3rem;
    top: 2.2rem;
    width: 100%;
    box-shadow: 0 0 7px 1px rgba(#333, 0.2);
  }
  .none {
    display: none !important;
  }
}

.modal-for-user {
  display: none;
  position: absolute;
  //   height: 200px;
  top: 29px;
  background-color: white;
  padding: 0.2rem;
  min-width: 100px;
  left: 0;
  z-index: 50;
  color: #424750;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  &.show {
    display: block;
  }
  > div {
    padding: 0.2rem;
    display: flex;
    align-items: center;
    &:hover {
      background: #f0f0f1;
    }
    > span {
      font-size: 18px;
      padding-right: 10px;
      font-weight: light;
      text-align: center;
    }
  }
}

@media (max-width: 720px) {
  .greeting {
    background-color: transparent;
    &:hover {
      background-color: transparent;
      box-shadow: none;
    }
    .user-icon-angel {
      margin-left: 10px;
    }
  }
}
