// @import ""
.filter-slider-wrapper {
  display: flex;
  span {
    margin: 0 10px;
    color: #848080;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 5px;
    border-bottom: 1px solid transparent;
    &.active,
    &:hover {
      border-bottom: 1px solid;
    }
    &.active {
      color: blue;
    }
  }
}
