.blogs {
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0rem auto;

    li {
      // max-width: 30.5%;
      // min-width: 200px;
      width: 48%;
      padding: 10px;

      a {
        color: #333;
        &:hover {
          figure {
            box-shadow: 0 0 10px 1px rgba(141, 141, 141, 0.5);
            img {
              transform: scale(1.01);
            }
          }
        }
        figure {
          transition: 0.3s ease-in-out;
          background-color: #fff;
          border-radius: 5px;
          overflow: hidden;
          height: fit-content;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          // overflow: hidden;
          // height: 200px;
          img {
            transition: 0.3s ease-in-out;
            width: 100%;
            height: 100%;
            height: 200px;
          }
          figcaption {
            padding: 1rem 1.5rem;
            p {
              font-size: 0.8rem;
              text-align: justify;
              &:first-child {
                color: #8a8a8a;
                font-weight: 700;
              }
            }
            h1 {
              font-size: 1.4rem;
              margin: 1rem 0;
            }
            h6 {
              text-align: left;
              font-size: 0.6rem;
              color: rgb(141, 141, 141);
              margin: 1rem 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .blogs {
    ul {
      li {
        width: 100%;
      }
    }
  }
}
