.textEnd {
  text-align: end;
  justify-content: flex-end;
}
.discount-price-wrapper {
  display: flex;
  // flex-direction: column;
  align-items: center;
  > div {
    margin: 5px 0;
  }
  .product-info-wrapper {
    display: flex;
    .realPrice {
      display: block;
      letter-spacing: 0.5px;
      color: #acacac;
      text-decoration: line-through;
    }
    .discount-product {
      background-color: #fb3449;
      font-weight: 700;
      color: #fff;
      border-radius: 20px;
      padding: 4px 6px 1px;
      letter-spacing: 0;
      margin-bottom: 3px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 16px;
      font-size: 1.143rem;
      line-height: 1.375;
      margin-right: 8px;
      min-width: 43px;
      height: 23px;
    }
  }
  .price-wrapper {
    h4 {
      font-size: 1.2rem;
      span {
        font-size: 0.7rem;
        color: #4a5f73;
        font-weight: 500;
      }
    }
  }
}
@media (max-width: 770px) {
  .discount-price-wrapper > div {
    margin: 0;
  }
}
