.products-section {
  //   background-color: red;
  width: 100%;
  ul {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
    width: 100%;
    li {
      padding: 0.5rem 0.5rem;
      max-width: 25%;
      // margin-bottom: 1rem;
      transition: 0.3s ease-in-out;
      flex: 1 1 25%;

      a {
        color: #000;
        figure {
          display: flex;
          flex-direction: column;
          background-color: #fff;
          height: 100%;
          border-radius: 7px;
          overflow: hidden;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          .product-image-wrapper {
            position: relative;
            overflow: hidden;
            max-height: 200px;
            img {
              height: 100%;
            }
            .product-star-rating {
              position: absolute;
              bottom: 0;
              left: 10px;
            }
          }
          figcaption {
            padding: 0.5rem 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .product-info-wrapper {
              display: flex;
              margin: 5px 0;
            }
            h1 {
              color: #4a5f73;
              font-size: 0.75rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            p {
              font-size: 0.9rem;
            }
            .price-wrapper {
              display: flex;
              margin-inline-start: auto;
              // justify-content: flex-end;
              // margin-top: 16px;
              h4 {
                font-size: 0.8rem;
                span {
                  font-size: 0.7rem;
                  color: #4a5f73;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
      &:hover {
        transform: translateY(-4px);
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .products-section {
    ul {
      li {
        max-width: 33.3%;
        flex: 1 1 33.3%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .products-section {
    ul {
      li {
        max-width: 33.3%;
        flex: 1 1 33.3%;
      }
    }
  }
}

@media only screen and (max-width: 560px) {
  .products-section {
    ul {
      li {
        max-width: 50%;
        margin-bottom: 1rem;
        flex: 1 1 50%;
        a {
          color: #000;
          figure {
            height: 250px;
            figcaption {
              p {
                font-size: 0.9rem;
              }
              .price-wrapper {
                display: flex;
                justify-content: flex-end;
                margin-top: 16px;
                h4 {
                  span {
                    font-size: 0.9rem;
                  }
                }
              }
            }
          }
        }
        &:hover {
          transform: translateY(-4px);
        }
      }
    }
  }
}

@media only screen and (max-width: 412px) {
  .products-section {
    ul {
      li {
        padding: 0.5rem 0.5rem;
        max-width: 44.88%;
        margin-bottom: 1rem;
        transition: 0.3s ease-in-out;
        flex: 1 1 44.88%;
      }
    }
  }
}

@media only screen and (max-width: 378px) {
  .products-section {
    ul {
      li {
        margin: 5px;
        max-width: 47.25%;
        margin-bottom: 1rem;
        transition: 0.3s ease-in-out;
        flex: 1 1 47.25%;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .products-section {
    ul {
      li {
        margin: 0.5rem auto;
        max-width: 70%;
        margin-bottom: 1rem;
        transition: 0.3s ease-in-out;
        flex: 1 1 70%;
      }
    }
  }
}

// @media only screen and (min-width: 500px) and (max-width: 1000px) {
//   .products-section {
//     ul {
//       li {
//         // max-width: 27%;
//         margin-bottom: 1rem;
//         transition: 0.3s ease-in-out;
//         flex: 1 1 50%;
//         a {
//           color: #000;
//           figure {
//             border-radius: 7px;
//             // height: 250px;
//             box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
//             img {
//               width: 100%;
//               border-radius: 7px 7px 0 0;
//             }
//             figcaption {
//               padding: 0.5rem 1rem;
//               height: 40%;
//               display: flex;
//               flex-direction: column;
//               justify-content: center;

//               p {
//                 font-size: 0.9rem;
//               }
//               .price-wrapper {
//                 display: flex;
//                 justify-content: flex-end;
//                 // margin-top: 16px;
//                 h4 {
//                   span {
//                     font-size: 0.9rem;
//                   }
//                 }
//               }
//             }
//           }
//         }
//         &:hover {
//           transform: translateY(-4px);
//         }
//       }
//     }
//   }
// }
