:root {
  --sidebarBgColor: #122f3b;
  --sideActived: ;
  --blueLight: #07a7e3;
  --blueLight2: #32dac3;
  --blueLight3: #25bff8;
  --blueVerylight: #77d8e0;
  --blueVerylight2: #93daca;
  --blackLight: rgba(0, 0, 0, 0.7);
  --redColor: #f43a59;
  --titleColor: #363e42;
  --description: #72848c;
  --prymaryColor: #07a7e3;
  --warningColor: #ffc107;
  --warningColorHover: #e0a800;
  --BlueToGreen: #09787d;
  --successColor: #28a745;
  --successColorHover: #218838;
  --dangerColor: #dc3545;
  --dangerColorHover: #c82333;
  --mainColor: "#0070ef";
  --boxShadowLow: 0 9px 23px rgba(0, 0, 0, 0.02), 0 5px 5px rgba(0, 0, 0, 0.06);
  --boxShadowLowHover: 0 9px 23px rgba(0, 0, 0, 0.2),
    0 5px 5px rgba(0, 0, 0, 0.1);
  --boxShadowNormal: 0 2px 5px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.02);
  --boxShadowNormalHover: 0 2px 5px rgba(0, 0, 0, 3),
    0 5px 5px rgba(0, 0, 0, 0.03);
  --sideMenuWidth: 15rem;
  --addColor: #25bff8;
  --addColorHover: blue;
}
