.about-us {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0.5rem;
  background-color: #fff;
  margin: 2rem auto;
  box-shadow: 0 0 20px 1px rgba(#333, 0.2);
  border-radius: 7px;

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  p {
    width: 90%;
    margin: 1rem auto;
    text-align: justify;
  }
}
