.more-products {
  display: flex;
  width: 100%;
  padding: 1rem;
  padding-top: 0;
  margin-top: 1rem;
  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    img {
      border-radius: 5px;
      width: 80%;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      height: 100%;
    }
  }
  .left-side {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        figure {
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            min-width: 100%;
            min-height: 100%;
            width: 200px;
            // height: 100%;
            border-radius: 50%;
            margin: 1rem auto;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 40em) {
  .more-products {
    flex-direction: column;
    margin-top: 3rem;
    .right-side {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .left-side {
      width: 100%;
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
          display: flex;
          align-items: center;
          width: 48%;
          figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
              border-radius: 50%;
              width: 100%;
              margin: 1rem auto;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 55em) {
  .more-products {
    .left-side {
      ul {
        li {
          figure {
            img {
              border-radius: 50%;
              min-width: 100px;
              width: 50% !important;
              margin: 1rem auto;
            }
          }
        }
      }
    }
  }
}
