.articles-main-area {
  width: 70%;
  margin: 1rem auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  .article-back-btn {
    li {
      a {
        color: #8d8c8ccc;
        font-size: 0.7rem;
        &:hover {
          color: #4d4d4d;
        }
      }
    }
  }
  .article-area {
    .article-top-section {
      display: flex;
      // flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
      h1 {
        font-size: 1.2rem;
      }
      .time-date {
        color: #acacac;
        font-size: 0.7rem;

        span {
          i {
            font-size: 0.7rem;
          }
        }
        .date {
          i {
          }
        }
        .time {
        }
      }
      .time-for-reading {
        text-align: left;
        span {
          font-size: 0.7rem;
          color: rgb(172, 172, 172);
          i {
            font-size: 0.7rem;
            color: rgb(172, 172, 172);
          }
        }
      }
    }
    .article-main-content {
      img {
        border-radius: 5px;
      }
      .article-content {
        margin: 1rem 0;
        color: #4d4d4d;
        font-size: 0.89rem;
      }
    }
    .article-footer-section {
      border-top: 1px solid rgba(#333, 0.2);
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 0;

      .rating {
        display: flex;
        span {
          i {
            color: gold;
          }
        }
        .rate {
          display: flex;
          // justify-content: space-between;
          margin-right: 1rem;
          border-right: 1px solid rgba(#333, 0.2);
          padding: 0 1rem;
          span {
          }
          p {
            span {
            }
          }
        }
      }
      .share {
        display: flex;
        .comments {
          border-right: 1px solid rgba(#333, 0.2);
          border-left: 1px solid rgba(#333, 0.2);
          padding: 0 1rem;

          i {
          }
          span {
          }
        }
        .socials {
          margin-right: auto;
          a {
            color: #333;
            transition: 0.3s ease-in-out;
            &:hover {
              opacity: 0.7;
            }
            i {
              margin: 0 0.5rem;
            }
          }
        }
      }
    }
    .article-category {
      display: flex;
      padding: 1.5rem 0;
      // border-top: 1px solid rgba(#333, 0.2);

      p {
        margin-left: 1rem;
        color: #8c8a8a;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
      }
      span {
        font-size: 0.8rem;
      }
    }
  }
  .comments-area {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    // border-top: 1px solid rgba(#333, 0.2);
    .add-comment-area {
      h2 {
        // border-bottom: 1px solid rgba(#333, 0.1);
        width: 50%;
        padding: 1rem 0 0 0;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .articles-main-area {
    width: 100%;
    .article-area {
      .article-top-section {
        h1 {
          font-size: 1.4rem;
          margin-bottom: 0.5rem;
        }
        .time-for-reading {
          text-align: right;
          span {
            font-size: 0.7rem;
            color: rgb(172, 172, 172);
            i {
              font-size: 0.7rem;
              color: rgb(172, 172, 172);
            }
          }
        }
      }

      .article-footer-section {
        border-top: 1px solid rgba(#333, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem 0;

        .rating {
          display: flex;
          margin-bottom: 1rem;
          padding: 1rem 0;
          border-bottom: 1px solid rgba(#333, 0.1);
          .rate {
            display: flex;
            // justify-content: space-between;
            margin-right: auto;
            border-right: 1px solid rgba(#333, 0.2);
            padding: 0 1rem;
            span {
            }
            p {
              span {
              }
            }
          }
        }
        .share {
          display: flex;
          align-items: center;
          .comments {
            border-left: none;
            border-right: none;
            padding: 1rem;

            i {
            }
            span {
            }
          }
          .socials {
            border-right: 1px solid rgba(#333, 0.2);
            margin-right: auto;
            padding: 0 0.5rem 0 0;

            a {
              color: #333;
              transition: 0.3s ease-in-out;
              &:hover {
                opacity: 0.7;
              }
              i {
                margin: 0 0.5rem;
              }
            }
          }
        }
      }
      .article-category {
        display: flex;
        padding: 1.5rem 0;
        border-top: 1px solid rgba(#333, 0.2);

        p {
          margin-left: 1rem;
        }
        span {
        }
      }
    }
    .comments-area {
      display: flex;
      flex-direction: column;
      padding: 1.5rem 0;
      border-top: 1px solid rgba(#333, 0.2);
      .add-comment-area {
        h2 {
          border-bottom: 1px solid rgba(#333, 0.1);
          width: 50%;
          padding: 1rem 0 0 0;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .articles-main-area {
    width: 80%;
    .article-area {
      .article-top-section {
        h1 {
          font-size: 1rem;
        }
        .time-date {
          span {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
