.nav-wrapper {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 5px;

  .product-tab {
    .product-nav {
      display: flex;
      width: 100%;
      // justify-content: center;
      // padding: 2em 0 0.5em 0;

      li {
        // padding: 2em;
        // margin: 0 1em;
        min-width: 10rem;
        text-align: center;
        position: relative;
        display: flex;
        button {
          background: none;
          border: none;
          display: inline-block;
          width: 100%;
          position: relative;
          padding: 0.3rem 1rem;
          text-align: center;
          cursor: pointer;
          vertical-align: top;
          font-size: 1rem;
          // background-color: var(--light-green);
          transition: 0.3s ease-in-out;
          // border-radius: 5px 5px 0 0;
          outline: none;
          border-radius: 5px;

          &:hover {
            background-color: white;
            color: black;
          }
          span {
            margin-right: 10px;
          }
        }
        .active {
          // background-color: var(--dark-green);
          // color: #fff;
          background-color: white;
          color: var(--blue);
          transform: translateY(-18px);
          box-shadow: 0 -3px 5px -4px rgba(0, 0, 0, 0.3);
        }
        .disable {
          // background-color: rgba(#c6de2c, 0.5);
          color: #7d7c7c;
        }
      }
    }
  }
  .desc-review-wrapper {
    background-color: #fff;
    padding: 2rem;
    transition: 1s ease-in-out;
    .desc-wrapper,
    .review-wrapper {
      overflow-x: hidden;
      color: #6f6f6f;
      > p {
        font-size: 0.9rem;
      }
    }
  }
  .no-height {
    height: 0 !important;
  }
}

@media (max-width: 900px) {
  .nav-wrapper {
    .desc-review-wrapper {
      padding: 0.5rem;
    }
  }
}
@media (max-width: 400px) {
  .nav-wrapper {
    .product-tab {
      .product-nav {
        li {
          max-width: 8rem;
          min-width: unset;
          button {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
