#subjectModal {
  z-index: 30;
  min-width: 28em;
  margin: auto;
  max-width: 90%;
}
.bgUnset {
  #subjectModal {
    padding: unset;
    min-width: 35em;
  }
  .subjectModal-box {
    padding: unset;
    flex: 1;
    width: 100%;
  }
  .form-countainer {
    width: unset !important;
  }
  .centerAll {
    display: unset;
  }
}
#subjectModal.fadeIn:not(.animation-off) {
  -webkit-animation: scale-fadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-fadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#subjectModal.fadeOut:not(.animation-off) {
  -webkit-animation: scale-fadeOut 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-fadeOut 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#subjectModal.fadeIn.animation-off {
  -webkit-animation: opacity-fadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: opacity-fadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#subjectModal.fadeOut.animation-off {
  -webkit-animation: opacity-fadeOut 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: opacity-fadeOut 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.btn-submited-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: unset !important;
}

.subjectModal-box {
  background: white;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 0.5em 1.5em;
  margin: auto;
  flex: 1;
  width: 100%;
  // max-height: 90vh;
  // overflow: auto;
}
.subjectModal-box > div {
  margin: 1em 0;
}
.subjectModal-AddInformation {
}
.subjectModal-AddInformation {
  line-height: normal;
}
.subjectModal-AddInformation > label {
  margin: 1em 0 0.5empx;
  font-size: 1em;
  font-weight: bold;
  display: block;
  text-align: start;
}
.subjectModal-AddInformation > input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  background-color: #eee;
  text-align: center;
}
.subjectModal-AddInformation > .btn-submited-container {
  margin-top: 20px;
}

.submitedBtn button {
  width: 100px;
  background-color: #208000;
  color: white;
  border-radius: 10px;
  border: 1px solid;
  padding: 8px;
  box-shadow: 1px 1px 5px 0px green;
  text-align: center;
}
.submitedBtn button:hover {
  box-shadow: 1px 1px 9px 0px green;
}
.submitedBtn.closed button {
  background-color: white;
  color: black;
  border: unset;
  box-shadow: 1px 1px 5px 0 #636363;
}
.submitedBtn.closed button:hover {
  box-shadow: 1px 1px 15px 0 #636363;
}
#LoginModal {
  position: fixed;
  z-index: 30;
}

.modal_container {
  display: flex;
  flex-direction: column;
  width: 303px !important;
  left: -89% !important;
  z-index: 10 !important;
}

#LoginModal.fadeIn {
  -webkit-animation: scale-fadeIn0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-fadeIn0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.modal_container-box {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  // align-items: center;
  z-index: 1000;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 1300;
  // overflow: auto;
  .modal_container-box {
    height: unset;
  }
}

@-webkit-keyframes scale-fadein {
  0% {
    -webkit-transform: translateY(-150vh);
    transform: translateY(-150vh);
  }
  100% {
    -webkit-transform: translateY(30vh);
    transform: translateY(30vh);
  }
}

@keyframes scale-fadein {
  0% {
    -webkit-transform: translateY(-150vh);
    transform: translateY(-150vh);
  }
  100% {
    -webkit-transform: translateY(20vh);
    transform: translateY(20vh);
  }
}

@-webkit-keyframes scale-fadeout {
  0% {
    -webkit-transform: translateY(20vh);
    transform: translateY(20vh);
  }
  100% {
    -webkit-transform: translateY(-150vh);
    transform: translateY(-150vh);
  }
}

@keyframes scale-fadeout {
  0% {
    -webkit-transform: translateY(20vh);
    transform: translateY(20vh);
  }
  100% {
    -webkit-transform: translateY(-150vh);
    transform: translateY(-150vh);
  }
}

.Login-box {
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 30px 20px;
  margin: auto;
}

.Login-box > span {
  color: #fff;
  text-align: center;
}

.Description-for-customer.web-e-login {
  font-size: 20px;
}

.RSLEditeMobileNumber.web-e-login {
  font-size: 13px;
}

.mobileAndTokenError.web-e-login {
  font-size: 16px;
  width: 88%;
  text-align: center;
}

@-webkit-keyframes scale-fadeIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-fadeIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes scale-fadeOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes scale-fadeOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

// OPACITY ANIMATION
@-webkit-keyframes opacity-fadeIn {
  0% {
    -webkit-transform: opacity(0.9);
    transform: opacity(0.9);
  }
  100% {
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
}
@keyframes opacity-fadeIn {
  0% {
    -webkit-transform: opacity(0.9);
    transform: opacity(0.9);
  }
  100% {
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
}

@-webkit-keyframes opacity-fadeOut {
  0% {
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  100% {
    -webkit-transform: opacity(0.9);
    transform: opacity(0.9);
  }
}
@keyframes opacity-fadeOut {
  0% {
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  100% {
    -webkit-transform: opacity(0.9);
    transform: opacity(0.9);
  }
}
